In [3]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns 
%matplotlib inline
import statsmodels.formula.api as smf
from statsmodels.api import qqplot

plt.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False

df = pd.read_csv("/home/piai/바탕화면/BigData_Project/rental_Project/dataFolder/rental_pre.csv")
df.head()

,고객ID,판매유형,계약유형,유통경로,계약일,계약기간,납부유형,제품군,월랜탈비용,계약상태,...,남여구분,해약여부,총렌탈대수,이탈여부,요일,나이,연령대,마트,직영점,지역별 소득량(평균)
0,66758234,렌탈,일반,서비스 방문,2022-10-24,60,CMS,DES-1,96900,계약확정,...,여자,정상,1,정상,월요일,45.0,40대,0,0,4.110269e+07
1,66755948,렌탈,교체렌탈,서비스 방문,2022-10-24,60,카드이체,DES-1,102900,계약확정,...,남자,정상,1,정상,월요일,42.0,40대,0,0,4.110269e+07
2,66756657,렌탈,일반,홈쇼핑/방송,2022-10-24,60,CMS,DES-1,96900,계약확정,...,여자,정상,1,정상,월요일,51.0,50대,0,0,4.110269e+07
3,66423450,멤버십,멤버십S,렌탈재계약,2022-10-24,12,CMS,DES-1,66900,계약확정,...,남자,정상,1,정상,월요일,42.0,40대,0,0,3.337207e+07
4,66423204,멤버십,멤버십S,렌탈재계약,2022-10-24,12,CMS,DES-1,66900,해약확정,...,남자,해약,1,이탈,월요일,63.0,60대,0,0,3.337207e+07